.App {
  width: 100vw;
  height: 100vh;
}

.InnerTitle {
  font-size: 24px;
  padding: 10px;
  height: 32px;
  background-color: rgb(15, 72, 218);
  color: white;
  display: flex;
  justify-content: space-between;
}
